/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Animasi Kedap-kedip */
@keyframes blink {
  0% { opacity: 1; } /* Kelihatan*/
  50% { opacity: 0; } /* Tidak kelihatan */
  100% { opacity: 1; } /* Kelihatan lagi */
}

.blinking-text {
  animation: blink 1s linear infinite; /* Terapkan animasi kedap kedip */
}